<!DOCTYPE html>
<head>

  <title>Events</title>

  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h2 class="events">Whoops this page does not exist..yet!</h2>
  <a href="index" class="btn4">Go Back!</a>


  <footer>A Ruby app developed by Roxy and Hayley as part of the CodeFirst:Girls Ruby Course 2018</footer>
</body>
</<!DOCTYPE html>

</html>
