<!DOCTYPE html>

<head>
<title>Ruby WebApp</title>
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>
<body id="index">
<!-- <img src="https://images.pexels.com/photos/330771/pexels-photo-330771.jpeg?cs=srgb&dl=code-coding-computer-330771.jpg&fm=jpg" alt="code">
 -->


  <h2>Choose what information you'd like to find out below:</h2>




  <a href="weather" button type="button" name="button" class="btn1">
    >Weather</a>
  <a href="food" button type="button" name="button" class="btn2">
    >Restaurants</a>
  <a href="food" button type="button" name="button" class="btn3">
      Events</a>

<!-- The a href takes you to the weather page -->



<footer>A Ruby app developed by Roxy and Hayley as part of the CodeFirst:Girls Ruby Course 2018</footer>

</body>


</html>
