<!DOCTYPE html>

<head>
<title>Ruby WebApp</title>
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>
<body id="index">
<!-- <img src="https://images.pexels.com/photos/330771/pexels-photo-330771.jpeg?cs=srgb&dl=code-coding-computer-330771.jpg&fm=jpg" alt="code">
 -->


  <h2>Choose what information you'd like to find out below:</h2>

<section>


  <button type="button" name="button" class="btn1">
    <a href="weather">Weather</a></button>
  <button type="button" name="button" class="btn2">
    <a href="food"></a>Restaurants</button>
    <button type="button" name="button" class="btn3">
      <a href="food"></a>Events</button>

<!-- The a href takes you to the weather page -->

</section>

<footer>A Ruby app developed by Roxy and Hayley as part of the CodeFirst:Girls Ruby Course 2018</footer>

</body>


</html>
