<!DOCTYPE html>
<head>

  <title>Weather finder</title>


  <link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>
<body id="weatheroutput">

  <header><h1>Weather finder</h1>
  <h2> Thank you!</h2></header>

  <h2>The weather in X is Y</h2>

  <button type="button" name="button" class="btn4">
    <a href="index">Go Home</a></button>
  <footer>A Ruby app developed by Roxy and Hayley as part of the CodeFirst:Girls Ruby Course 2018</footer>
</body>
</html>
