<!DOCTYPE html>
<head>

  <title>Weather finder</title>

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body id="weatherfinder">

  <header><h1>Weather finder</h1>

  <p>Hi! Enter your city to find out the weather:</p></header>

    <form method="post" action="/weatheroutput">
  <input type="text" placeholder="Your city" name="name">
  <input type="submit" value="submit" class="btn5">





  <footer>A Ruby app developed by Roxy and Hayley as part of the CodeFirst:Girls Ruby Course 2018</footer>
</body>
</html>
