<!DOCTYPE html>
<head>

  <title>Weather finder</title>


  <link rel="stylesheet" href="css/style.css">


</head>
<body id="weather2">

  <header><h1>Weather finder</h1>
  <p> Thank you!</p></header>

  <p>The weather in X is Y</p>

  <button type="button" name="button">
    <a href="index">Go Home</a></button>
  <footer>A Ruby app developed by Roxy and Hayley as part of the CodeFirst:Girls Ruby Course 2018</footer>
</body>
</html>
