<!DOCTYPE html>
<head>

  <title>Weather finder</title>


  <link rel="stylesheet" href="css/style.css">


</head>
<body>

  <header><h1>Weather finder</h1>
  <p> Thank you!</p></header>

  <p>The weather in X is Y</p>


  <footer>A Ruby app developed by Roxy and Hayley as part of the CodeFirst:Girls Ruby Course 2018</footer>
</body>
</html>
