<!DOCTYPE html>
<head>

  <title>Weather in your city</title>

  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="weatheroutput">

  <header>
    <h1>Weather finder</h1>  </header>
    <h2>
      Thank you!</h2>


  <h2>The weather in X is Y</h2>

  <a href="index" class="btn4">Go Home</a>

  <footer>A Ruby app developed by Roxy and Hayley as part of the CodeFirst:Girls Ruby Course 2018</footer>
</body>
</html>
