<!DOCTYPE html>
<head>

  <title>Weather finder</title>

  <link rel="stylesheet" href="css/style.css">
  
</head>
<body>
<!-- <img src="../images/Weathericons.jpg"> -->
  <header><h1>Weather finder</h1>
  <p>Hi! Enter your city to find out the weather:</p></header>
  <input type="city" placeholder="Your city">
  <input type="submit">

  <footer><div>Background  by smashicons from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></footer>
</body>