

    body {
      text-align: center;
      background: url("./images/Weathericons.jpg");
      background-size: cover;
      background-position: center;
      color: navy;
      font-family: helvetica;
    }
    header {background-color: green; opacity: 0.8;}


    p {font-size: 24px;}
    
    input {border-style: solid; padding: 10px; font-size: 20px; }

    footer {font-size: 18px; }
    
    input[type="submit"] {background: green; color: black;}
 